header{
	height: 80px;
	width: 100%; 
	left: 0; 
	top: 0; 
	position: fixed;
	z-index: 99999999999;
}

header nav {
	width: 100%;
	
	margin: 0px auto;
	background: #3490cf;
}

.menu_bar{
	display: none;
}

header nav ul{
	margin: 0;
  padding: 0;
  box-sizing: border-box;
	overflow: hidden;
	list-style: none;
}

header nav ul li {
	float: left;
}
.login{
	float: right;
}

header nav ul li a {
	color: white;
	padding: 20px;
	display: block;
	text-decoration: none;

}
header .logo label i{
	margin-right: 10px;
}
header nav ul li i{
	margin-right: 10px;
}

header nav ul li a:hover{
	background: #3fa9f5;
}
section{
	padding: 20px;
}

i{margin-right: 5px;}

.info{
	/*background: #999;*/
	display: inline-block;
	float: left;
	
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
	font-family: 'Acme', sans-serif;
	padding-top: 55px;
	font-size: 100%;
}

.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.wrap > h1{
	color: #0093cd;
	font-weight: 400;

/* se coloca el display: flex;
	flex-direction: column;
porque se va a agregar algo dentro del h1 y se hace con un after*/
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}
/*esto es para crear la linea de abajo del h1*/
.wrap > h1:after{
	/*para que ocupe todo el tamaño del wrap*/
	content: '';
	width: 100%;
	/*el alto o grosor de la linea*/
	height: 5px;
	background: #0093cd;
	margin: 20px 0;
}

.store-wrapper{
	/*el display: flex para colocar los productos debajo de los tipos de productos*/
	display: flex;
	flex-wrap: wrap;  
}

/*para que vallan hacia abajo los category_list, utilizamos el colum*/
.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	/*el block, para que no modificar sus dimenciones*/
	display: block;
	/*ocupa el 90% del 100%, para dar un espacio entre la lista y los productos*/
	width: 90%;
	padding: 10px 0;
	margin-bottom: 15px;
	background: #0093cd;
/*lo aliniamos al centro y le eliminamos las decoraciones con el none*/
	text-align: center;
	text-decoration: none;
	color: #fff;
	transition: 0.5s;
	border-radius: 5px;
}
.category_list .category_item:hover{
	/*el block, para que no modificar sus dimenciones*/
	display: block;
	/*ocupa el 90% del 100%, para dar un espacio entre la lista y los productos*/
	width: 90%;
	padding: 10px 0;
	margin-bottom: 15px;
	background: #1ec6ff;
/*lo aliniamos al centro y le eliminamos las decoraciones con el none*/
	text-align: center;
	text-decoration: none;
	color: #fff;
	transition: 0.5s;
	border-radius: 10px;
}

.category_list .ct_item-active{
	background: #2D3E50;
}
/* EDICION DE LOS PRODUCTOS*/

.products-list{
	width: 82%;
	display: flex;
/*flex-wrap: wrap; se utiliza por si se pasa del limite lo mande hacia abajo*/
	flex-wrap: wrap;
}


.products-list .product-item{
	width: 100%;
/*para que ocupe el total del tamaño*/
	margin-left: 3%;
/*espacio hacia abajo*/
	margin-bottom: 25px;
/*darle una sombra al producto*/
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.60);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all 0.5s;
}


.products-list .product-item img{
/*para que el ancho no sea mayor ni menor al de su padre*/
	height: 200px;
	margin-left: 15px;
	margin-right: 25px;
		float: left;
		border-radius: 10px;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #0093cd;

	color: #fff;
	text-align: left;
	text-decoration: none;
	transition: 0.5s;
	border-radius: 5px;
}
.products-list .product-item a:hover{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #1ec6ff;

	color: #fff;
	text-align: left;
	text-decoration: none;
	transition: 0.3s;
	border-radius: 10px;
}

/* RESPONSIVE */

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 95%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	/*.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}*/
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 95%;
	}

	/*.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}*/

	header nav {
	width: 80%;
	height: 100%;
	left: -100%;
	margin: 0;
	position: fixed;
	z-index: 1000;
	}

	header nav ul li, .login {
		display: block;
		float: none;
		border-bottom:1px solid rgba(255,255,255,0.3);
	}
	.menu_bar{
		display: block;
		width: 100%;
		background: #ccc;
	}
	.menu_bar .bt_menu{
		display: block;
		padding: 15px;
		background: #3490cf;
		color: white;
		text-decoration: none;
		font-weight: bold;
		font-size: 20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box ;
	}
	.menu_bar i {
		float: right;
		font-size: 28px;
	}

	.products-list .product-item img{
/*para que el ancho no sea mayor ni menor al de su padre*/
	height: 150px;
	margin-left: 15px;
	margin-right: 25px;
		float: none;
}

.info{

	width: 100%;
	display: inline-block;
	float: left;
	padding-left: 20px;
	
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #0093cd;

	color: #fff;
	text-align: center;
	text-decoration: none;
	transition: 0.5s;
	border-radius: 5px;
}

.products-list .product-item a:hover{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #1ec6ff;

	color: #fff;
	text-align: center;
	text-decoration: none;
	transition: 0.3s;
	border-radius: 10px;
}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}
